* {
	margin: 0;
	font-size: 25px;
}
body {
  font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9 	)), url(../img/IU_background.svg);
	background-attachment: fixed;
	background-size: 25% auto;
	background-repeat: no-repeat;
	background-position: center;
}


/*----------------------------------*/
/*--------NAVIGATION BAR------------*/
/*----------------------------------*/
header {
	background-color: rgb(100,1,6);
	width: 100%;
	box-shadow: 0px 0px 10px #000;
}
.main-nav {
	display: flex;
	margin: 0 auto;
	padding: 3px;
	width: 30%;
	height: 35px;
	justify-content: center;
}
.main-nav h1 {
	position: absolute;
	left: 5px;
	border-top: 1px solid rgba(255, 255, 255, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	font-weight: 100;
	font-family: 'Kanit';
	font-size: 110%;
	line-height: 115%;
	text-align: center;
	color: white;
}
.main-nav ul {
	display: flex;
	justify-content: center;
	flex:1;
	margin: 0;
	padding:0;
	flex-direction: row;
	list-style-type: none;
}

.main-nav li {
	font-weight: 100;
	margin: 5px 10px;
	width: 100px;
	text-align: center;
}
.main-nav li a{
	flex: 1;
	border-left: 1px solid rgb(100,1,6);
	display: block;
	color: white;
	font-size: 50%;
	padding: 3px;
	line-height: 160%;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: box-shadow .5s;
}
.main-nav li a:hover,
.main-nav li .active {
	box-shadow: 0px 0px 30px #000000;
}
.main-nav .user-logged-in {
	text-decoration: none;
	color: white;
	position: absolute;
	right: 10px;
	top: 12px;
	text-transform: uppercase;
	font-size: 50%;
}
.main-nav .user-logged-in:hover{
	text-decoration: underline;
}
.user-login {
	display: flex;
	position: absolute;
	right: 5px;
	margin-top: 3px;
}
.user-login input{
	border: none;
	padding: 2px;
	border-radius: 2px;
	color: white;
	background: rgb(64, 0, 3);
	width: 150px;
	height: 25px;
	font-size: 65%;
	margin: 2px;
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
.user-login input:focus{
	outline: none;
}
.user-login input[type=submit] {
	margin: 2px 5px;
	color: #bababa;
	border-radius: 5px;
	border: none;
	background: rgb(123, 0, 6);
	width: 60px;
	height: 25px;
	font-size: 60%;
	transition: box-shadow .3s, color .2s;
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
.user-login input[type=submit]:hover {
	box-shadow: 0px 2px 10px #000;
	color: white;
}
.user-info {
	display: flex;
	position: absolute;
	right: 10px;
	top: 10px;
}
.username {
	position: relative;
	top: -3px;
	font-weight: 100;
	color: white;
	font-size: 75%;
	margin-right: 10px;
}
.logout-link ion-icon{
	position: relative;
	top: 1px;
	color: white;
	font-size: 80%;
}

/*----------------------------------*/
/*-------------REUSABLES------------*/
/*----------------------------------*/
.section-main {
	width: 85%;
	display: flex;
	margin: 20px auto;
}
/*----------------------------------*/
/*--------------ABOUT---------------*/
/*----------------------------------*/
.img-heading {
	flex: 1;
	justify-content: center;
	flex-direction: column;
	display: flex;
	text-align: center;
}
.intro-heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin: 0px auto 20px auto;
	padding: 20px;
	width: 65%;
	border-bottom: 1px solid #bcbcbc;
}
.intro-heading h1 {
	font-size: 120%;
}
.intro-heading p {
	font-size: 80%;
}
.intro-desc {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
}
.intro-desc img {
	flex: 1;
	align-self: flex-start;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #2a2a2a;
	margin-right: 20px;
	width: auto;
	height: 600px;
}
.intro-desc p {
	font-size: 80%;
}
.intro-desc span {
	font-size: 120%;
	font-weight: bold;
}
/*----------------------------------*/
/*-------------REGISTER-------------*/
/*----------------------------------*/
.register-main{
	margin: 0 auto;
	width: 50%;
	position: relative;
	background-color: rgb(100, 1, 6);
	padding: 10px;
	box-shadow: 0px 2px 10px black;
	border-radius: 5px;
	top: 50px;
}
.register-main .register-form h1{
	margin-bottom: 5px;
	color: white;
	font-weight: 100;
	font-size: 110%;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}
.register-form form {
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	text-align: center;
}
.register-form form p:first-of-type{
	width: 100%;
}
.register-form form p{
	color: white;
	text-align: center;
	font-size: 60%;
	width: 49%;
	margin: 10px auto 0px auto;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.register-form form input{
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	width: 49%;
	font-size: 60%;
	height: 25px;
	font-weight: 100;
	color: white;
	border: none;
	background: rgb(64, 0, 3);
	transition: background .3s;
}
.register-form form input[type=submit]{
	margin-top: 10px;
	padding: 5px;
	height: 35px;
	font-size: 65%;
	border: none;
	width: 25%;
	border-radius: 5px;
	color: #c3c3c3;
	transition: color .2s;
}
.register-form form input[type=submit]:hover{
	color: white;
}
.register-form form input:focus{
	outline: none;
	background: rgb(36, 0, 2);
}
.signup-success{
	position: relative;
	top: 5%;
	color: green;
	text-align: center;
	font-size: 80%;
}
.signup-error {
	position: relative;
	top: 50px;
	color: red;
	text-align: center;
	font-size: 80%;
}

/*----------------------------------*/
/*-----------STUDENT PAGE-----------*/
/*----------------------------------*/

#student-data-upload {
	color: white;
	background: #3f3fea;
	border-radius: 10px;
	position: absolute;
	left: 90%;
	top: 90%;
	padding: 10px;
	outline: none;
	border: none;
	transition: background .2s, box-shadow .2s;
}
#student-data-upload:hover {
	border: none;
	outline: none;
	background: #2525e0;
	box-shadow: 0px 2px 10px black;
}
#student-data-upload:focus {
	outline: none;
}
.student-uploads {
	width: 65%;
	margin: 0 auto;
}
.student-uploads .uploads-title {
	color: rgb(100,1,6);
	font-weight: 100;
	border-bottom: 1px solid rgb(100,1,6);
	font-size: 110%;
}

/*********FILTER UPLOADS BOX**********/
.filter-uploads {
	position: absolute;
	left: 11%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	background-color: rgb(100,1,6);
	border-radius: 5px;
	box-shadow: 0px 2px 10px black;
}
.filter-uploads h2 {
	padding: 3px;
	color: white;
	font-weight: 100;
	text-align: center;
	border-bottom: 2px solid white;
}
.filter-uploads .filter-year,
.filter-uploads .filter-month{
	margin: 5px;
	font-size: 85%;
	color: white;
	border-bottom: 1px solid white;
}
.filter-uploads span {
	font-weight: 100;
	margin: 3px;
	color: white;
	font-size: 75%;
}
.filter-type {
	padding: 10px;
}
.filter-uploads #apply-filters {
	position: relative;
	font-size: 75%;
	padding: 5px;
	width: 100px;
	margin: 10px 0px 10px 50%;
	transform: translate(-50%);
	background-color: white;
	color: rgb(100,1,6);
}

/*----------------------------------*/
/*-------------DATA PAGE------------*/
/*----------------------------------*/

.data-main {
	width: 75%;
	margin: 20px auto;
}
.data-title {
	position: relative;
	z-index: 999;
	letter-spacing: 1px;
	border-radius: 5px;
	padding: 5px;
	background: rgb(120,1,6);
	color: white;
	font-weight: 100;
	box-shadow: 0px 2px 10px black;
}
.data-body {
	background: white;
	box-shadow: 0px 2px 10px #AB9C86;
	height: 75%;
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.buttons {
	text-align: center;
}
.buttons button {
	margin: 10px;
	font-size: 75%;
	color: white;
	background: #3f3fea;
	border-radius: 6px;
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	outline: none;
	border: none;
	transition: background .2s, box-shadow .2s;
}
.buttons button:hover {
	border: none;
	outline: none;
	background: #2525e0;
	box-shadow: 0px 2px 10px black;
}

/*----------------------------------*/
/*----------TABLE STYLES------------*/
/*----------------------------------*/

.tabulator-col-title {
	text-align: center;
	font-size: 75%;
}
.tabulator-cell {
	font-size: 75%;
}
.tabulator-cell a {
	margin: 0;
	padding:0;
	font-size: 75%;
}
.tabulator-responsive-collapse strong {
	font-size: 110%;
}
.tabulator-responsive-collapse td {
	font-size: 60%;
}

/*----------------------------------*/
/*-----------COMMENT BOX------------*/
/*----------------------------------*/

.comment-box {
	position: absolute;
	right: 40px;
	top: 150px;
	height: 70%;
	width: 300px;
	box-shadow: 0px 2px 10px #AB9C86;
}
.comment-box-title {
	border-bottom: 1px solid #BDBAB8;
	padding: 5px 0px;
	background: #BDBAB8;
}
.comment-box-title h3 {
	font-size: 75%;
	color: #454443;
	text-align: center;
}
.comment-box-title p {
	color: #454443;
	text-align: center;
	font-size: 50%;
}
.comment-box-title ion-icon {
	position: absolute;
	top: 5;
	left: 5;
	color: #454443;
	font-size: 85%;
}
