* {
	margin: 0;
	font-size: 25px;
}
body {
  	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9 	)), url(img/IU_background.svg);
	background-attachment: fixed;
	background-size: 25% auto;
	background-repeat: no-repeat;
	background-position: center;
}


/*----------------------------------*/
/*--------NAVIGATION BAR------------*/
/*----------------------------------*/
header {
	background-color: rgb(100,1,6);
	width: 100%;
	box-shadow: 0px 0px 10px #000;
}
.main-nav {
	display: flex;
	margin: 0 auto;
	padding: 3px;
	width: 30%;
	height: 35px;
	justify-content: center;
}
.main-nav h1 {
	position: absolute;
	left: 5px;
	border-top: 1px solid rgba(255, 255, 255, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	font-weight: 100;
	font-family: 'Kanit';
	font-size: 110%;
	line-height: 115%;
	text-align: center;
	color: white;
}
.main-nav ul {
	display: flex;
	justify-content: center;
	flex:1;
	margin: 0;
	padding:0;
	flex-direction: row;
	list-style-type: none;
}

.main-nav li {
	font-weight: 100;
	margin: 5px 10px;
	width: 100px;
	text-align: center;
}
.main-nav li a{
	flex: 1;
	border-left: 1px solid rgb(100,1,6);
	display: block;
	color: white;
	font-size: 50%;
	padding: 3px;
	line-height: 160%;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: box-shadow .5s;
}
.main-nav li a:hover,
.main-nav li .active {
	box-shadow: 0px 0px 30px #000000;
}
.user-login {
	display: flex;
	position: absolute;
	right: 5px;
	margin-top: 3px;
}
.user-login input{
	border: none;
	padding: 2px;
	border-bottom: 1px solid rgba(255, 252, 252, 0.46);
	border-radius: 2px;
	color: white;
	background: rgb(64, 0, 3);
	width: 150px;
	height: 20px;
	font-size: 65%;
	margin: 2px;
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
.user-login input:focus{
	outline: none;
}
.user-login input[type=submit] {
	margin: 2px 5px;
	color: #bababa;
	border-radius: 5px;
	border: none;
	background: rgb(123, 0, 6);
	width: 60px;
	height: 25px;
	font-size: 60%;
	transition: box-shadow .3s, color .2s;
	font-family: BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
.user-login input[type=submit]:hover {
	box-shadow: 0px 2px 10px #000;
	color: white;
}

/*----------------------------------*/
/*-------------REUSABLES------------*/
/*----------------------------------*/
.section-main {
	width: 85%;
	display: flex;
	margin: 20px auto;
}
/*----------------------------------*/
/*--------------ABOUT---------------*/
/*----------------------------------*/
.img-heading {
	flex: 1;
	justify-content: center;
	flex-direction: column;
	display: flex;
	text-align: center;
}
.intro-heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin: 0px auto 20px auto;
	padding: 20px;
	width: 65%;
	border-bottom: 1px solid #bcbcbc;
}
.intro-heading h1 {
	font-size: 120%;
}
.intro-heading p {
	font-size: 80%;
}
.intro-desc {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
}
.intro-desc img {
	flex: 1;
	align-self: flex-start;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #2a2a2a;
	margin-right: 20px;
	width: auto;
	height: 600px;
}
.intro-desc p {
	font-size: 80%;
}
.intro-desc span {
	font-size: 120%;
	font-weight: bold;
}























